#!/bin/bash
#
# Update deployed steam server and validate install.

{{ seven_days_to_die___app._steamcmd }} +app_update {{ seven_days_to_die___release._app_id }} {{ seven_days_to_die__srv._update_opts }} +quit
